
# APP CONFIG
# nama environment: development | test | production
NODE_ENV=development
# port server backend default 3000
PORT=3000


# DATABASE
# Host database 127.0.0.1 atau localhost
DB_HOST=localhost
# port mysql default 3306
DB_PORT=3306
# user mysql/mariadb (biasanya root untuk lokal)
DB_USER=
# password user dari mysql/mariadb
DB_PASSWORD=
# nama_database yang dipakai
DB_NAME=hotel_db


# AUTH
# isi custom untuk JWT 
JWT_SECRET="#############"
# waktu kadaluarsa token 9 jam (8 jam shift + 1 jam toleransi)
JWT_EXPIRES_IN=9h


# CORS
# isi alamat frontend jika sudah diperlukan, biasanya http://localhost:5173 
FRONTEND_URL=